<form action="" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Caller</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Incident</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="status">Status</label>
        <select class="form-select" aria-label="Default select example">
            <option selected></option>
            <option value="1">Resolved</option>
            <option value="2">Pending</option>
            <option value="3">Closed Complete</option>
            <option value="4">Closed Incomplete</option>
            <option value="5">Cancelled</option>
          </select>
    </div>
    <div class="mb-3">
        <label for="incident_date">Date</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>

    <button type="submit" class="btn btn-primary float-end">Submit</button>
</form>