<tr scope="row">
  <th scope="row">
    <label class="control control--checkbox">
      <input type="checkbox"/>
      <div class="control__indicator"></div>
    </label>
  </th>
  <td><a href="/incidents/edit/1392">1392</a></td>
  <td><a href="#">James Yates</a></td>
  <td>
    Web Designer
    <small class="d-block">Far far away, behind the word mountains</small>
  </td>
  <td>+63 983 0962 971</td>
  <td>NY University</td>
  <td>2020-03-03</td>
</tr>           