<!-- include header -->
    <%- include('incs/_header.ejs') %>
<!-- end header -->

    <div class="container-fluid">

            <%= user.firstname %> 

    </div>


<!-- include footer -->
    <%- include('incs/_footer.ejs') %> 
<!-- end footer -->